
body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.header {
    width: 100%;
    height: 220px;
    position: relative;
    display: none;
}

.timeline {
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 236px;
    position: relative;
}

.header_1 {
    display: block;
    position: absolute;
    width: 1372px;
    height: 58px;
    background: url(../img/head_1.png) center no-repeat;
    top: 70px;
    left: 185px;
}

.header_2 {
    display: block;
    position: absolute;
    width: 1721px;
    height: 63px;
    background: url(../img/head_2.png) center no-repeat;
    top: 145px;
    left: 185px;
}

.timeline_canvas {
    display: block;
    height: 920px;
    letter-spacing: -0.3em;
    width: 3500px;
    transition: all ease-in-out 0.3s;
}

.timeline_canvas div{
    display: none;
}

.timeline_canvas_year {
    display: inline-block;
    
    letter-spacing: normal;
    vertical-align: bottom;
}

.timeline_canvas_year {
    width: 349px;
    position: relative;
} 

.hexagon {
    width: 174px;
    height: 146px;
    margin: 0 auto;
}

.year2001 .hexagon {background: url(../img/hexagon_sprite.png) 0 -5px;}
.year2002 .hexagon {background: url(../img/hexagon_sprite.png) 0 -157px;}
.year2003 .hexagon {background: url(../img/hexagon_sprite.png) 0 -308px;}
.year2004 .hexagon {background: url(../img/hexagon_sprite.png) 0 -459px;}
.year2005 .hexagon {background: url(../img/hexagon_sprite.png) 0 -610px;}
.year2006 .hexagon {background: url(../img/hexagon_sprite.png) 0 -761px;}
.year2007 .hexagon {background: url(../img/hexagon_sprite.png) 0 -912px;}
.year2008 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1063px;}
.year2009 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1214px;}
.year2010 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1365px;}
.year2011 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1516px;}
.year2012 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1667px;}
.year2013 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1818px;}
.year2014 .hexagon {background: url(../img/hexagon_sprite.png) 0 -1969px;}

.timeline_canvas_year:nth-child(odd) {margin-top: 387px;height: 533px;}
.timeline_canvas_year:nth-child(even) {margin-bottom: 387px;}

.box {
    width: 349px;
    display: block;
}

.year2001 .box:nth-last-child(3) {background: url(../img/boxes_sprite.png) 0 0px; height: 90px;}
.year2001 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -94px; height: 90px;}
.year2001 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -188px; height: 116px;}
.year2002 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -306px; height: 90px;}
.year2003 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -401px; height: 151px;}
.year2004 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -555px; height: 90px;}
.year2004 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -649px; height: 90px;}
.year2004 .box:nth-child(3) {background: url(../img/boxes_sprite.png) 0 -743px; height: 89px;}
.year2005 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -837px; height: 90px;}
.year2005 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -931px; height: 115px;}
.year2006 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -1049px; height: 125px;}
.year2006 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -1176px; height: 123px;}
.year2007 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -1303px; height: 90px;}
.year2007 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -1396px; height: 115px;}
.year2008 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -1516px; height: 125px;}
.year2008 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -1643px; height: 89px;}
.year2009 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -1737px; height: 90px;}
.year2009 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -1831px; height: 115px;}
.year2010 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -1950px; height: 90px;}
.year2010 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -2044px; height: 115px;}
.year2010 .box:nth-child(3) {background: url(../img/boxes_sprite.png) 0 -2162px; height: 89px;}
.year2011 .box:nth-last-child(3) {background: url(../img/boxes_sprite.png) 0 -2256px; height: 90px;}
.year2011 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -2350px; height: 90px;}
.year2011 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -2444px; height: 90px;}
.year2012 .box:nth-child(1) {background: url(../img/boxes_sprite.png) 0 -2538px; height: 89px;}
.year2012 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -2632px; height: 89px;}
.year2012 .box:nth-child(3) {background: url(../img/boxes_sprite.png) 0 -2726px; height: 122px;}
.year2013 .box:nth-last-child(2) {background: url(../img/boxes_sprite.png) 0 -2853px; height: 90px;}
.year2013 .box:nth-last-child(1) {background: url(../img/boxes_sprite.png) 0 -2947px; height: 90px;}
.year2014 .box:nth-child(2) {background: url(../img/boxes_sprite.png) 0 -3041px; height: 89px;}
.year2014 .box:nth-child(3) {background: url(../img/boxes_sprite.png) 0 -3135px; height: 90px;}

.timeline_canvas_year:nth-child(odd) .box:not(:last-child){margin-bottom: 24px;}
.timeline_canvas_year:nth-child(even) .box:not(:first-child){margin-top: 24px;}

.solidline {
    width: 1778px;
    height: 1px;
    border-top: 1px solid #7f006b;
    display: inline-block;
}

.verticalline {
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 40px;
    background-color: #7f006b;
}

.year2002,.year2003,.year2004,.year2005,.year2006,.year2007,.year2008,.year2009,.year2010,.year2011,.year2012,.year2013,.year2014{margin-left: -116px}
.year2001 {margin-left: 50px;}

.dashline {
    width: 135px;
    height: 1px;
    border-top: 1px dashed #7f006b;
    display: inline-block;
}

.footer_text {
    display: none;
    width: 1598px;
    height: 64px;
    margin-left: 185px;
    margin-top: 25px;
    margin-bottom: 54px;
    background: url(../img/foote_text.png) center no-repeat;
}

.footer_link {
    display: none;
    width: 286px;
    height: 93px;
    margin: 0 auto;
    background: url(../img/link.png) center no-repeat;
}

#slider {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.timeline_menu {
    border-top: 1px solid transparent;
    width: 1421px;
    height: 117px;
    margin: 0 auto;
    margin-top: 20px;
    background: url(../img/slider.png) center no-repeat;
    display: none;
}

.full-width-slider input {display: none;}
.full-width-slider .ui-slider-track {margin-left: 15px;}


.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: url(../img/popup.png) 63px 65px no-repeat, rgba(0, 0, 0, 0.5);
}

.line {
    letter-spacing: -0.3em;
    position: absolute;
    top: 447px;
    display: none;
}
