body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	maring: 0;
}

#display{	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
	overflow: hidden;
}
/**************************************************************/
#background{	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
	background-image: url("../images/bg.jpg");
}

.invisible{
    opacity: 0;
}

#display div{
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
}

.scale{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
}
.left{
    -webkit-transform: translate(-1580px, 0px);
    -moz-transform: translate(-1580px, 0px);
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
}
.right{
    -webkit-transform: translate(3580px, 0px);
    -moz-transform: translate(3580px, 0px);
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
}
.fadeUp{
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    opacity: 0;
}
/*******************************************************/


#icon {
  background-image: url("../images/icon.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 266px;
  height: 243px;
  z-index: 20;
}
#head {
  background-image: url("../images/head.png");
  position: absolute;
  left: 246px;
  top: 60px;
  width: 1458px;
  height: 141px;
  z-index: 19;
}
#logo {
  background-image: url("../images/logo.jpg");
  position: absolute;
  left: 1905px;
  top: 0px;
  width: 143px;
  height: 143px;
  z-index: 18;
}
#text1 {
  background-image: url("../images/text1.png");
  position: absolute;
  left: 277px;
  top: 432px;
  width: 674px;
  height: 42px;
  z-index: 17;
}
#text2 {
  background-image: url("../images/text2.png");
  position: absolute;
  left: 290px;
  top: 545px;
  width: 622px;
  height: 84px;
  z-index: 16;
}
#text3 {
  background-image: url("../images/text3.png");
  position: absolute;
  left: 243px;
  top: 742px;
  width: 669px;
  height: 79px;
  z-index: 15;
}
#text4 {
  background-image: url("../images/text4.png");
  position: absolute;
  left: 236px;
  top: 962px;
  width: 677px;
  height: 39px;
  z-index: 14;
}
#text5 {
  background-image: url("../images/text5.png");
  position: absolute;
  left: 237px;
  top: 1114px;
  width: 676px;
  height: 100px;
  z-index: 13;
}
#table1 {
  background-image: url("../images/table1.png");
  position: absolute;
  left: 171px;
  top: 415px;
  width: 836px;
  height: 815px;
  z-index: 12;
}
#text6 {
  background-image: url("../images/text6.png");
  position: absolute;
  left: 1161px;
  top: 432px;
  width: 671px;
  height: 42px;
  z-index: 11;
}
#text7 {
  background-image: url("../images/text7.png");
  position: absolute;
  left: 1156px;
  top: 526px;
  width: 636px;
  height: 77px;
  z-index: 10;
}
#text8 {
  background-image: url("../images/text8.png");
  position: absolute;
  left: 1144px;
  top: 694px;
  width: 648px;
  height: 41px;
  z-index: 9;
}
#text9 {
  background-image: url("../images/text9.png");
  position: absolute;
  left: 1142px;
  top: 841px;
  width: 650px;
  height: 40px;
  z-index: 8;
}
#text10 {
  background-image: url("../images/text10.png");
  position: absolute;
  left: 1114px;
  top: 987px;
  width: 678px;
  height: 38px;
  z-index: 7;
}
#text11 {
  background-image: url("../images/text11.png");
  position: absolute;
  left: 1119px;
  top: 1114px;
  width: 668px;
  height: 100px;
  z-index: 6;
}
#table2 {
  background-image: url("../images/table2.png");
  position: absolute;
  left: 1053px;
  top: 415px;
  width: 836px;
  height: 815px;
  z-index: 5;
}
#text12 {
  background-image: url("../images/text12.png");
  position: absolute;
  left: 171px;
  top: 1278px;
  width: 1720px;
  height: 42px;
  z-index: 4;
}
#product_id_shared_vis_ {
  background-image: url("../images/product_id_shared_vis_.png");
  position: absolute;
  left: 30px;
  top: 1492px;
  width: 276px;
  height: 15px;
  z-index: 3;
}






