@font-face {font-family: 'RobotoSlab-Bold'; src: url(../fonts/RobotoSlab-Bold.ttf); }
@font-face {font-family: 'Roboto-Regular'; src: url(../fonts/Roboto-Regular.ttf); }
@font-face {font-family: 'Roboto-Bold'; src: url(../fonts/Roboto-Bold.ttf); }
@font-face {font-family: 'PTSans'; src: url(../fonts/PTSans.ttc); }
@font-face {font-family: 'Calibri'; src: url(../fonts/Calibri.ttf); }


#rate-box {
    width: 960px;
    height: 786px;
    display: block;
    border: 1px solid #000;
    font-family: 'PTSans';
}

.rate-box-title {
    font-family: 'RobotoSlab-Bold';
    font-size: 30px;
    margin-top: 35px;
    margin-left: 40px;
}

.rate-box-subtitle {
    font-family: 'Roboto-Regular';
    font-size: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

.rate-box-subplate {
    font-family: 'PTSans';
    background-color: #3c3c3c;
    color: #fff;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 260px;
    font-weight: bold;
}

.rate-box-scroll {
    font-family: 'PTSans';
    font-size: 16px;
    margin-top: 20px;
    height: 553px;
    position: relative;
    width: 275px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 10;
    background-color: #fff;
}

.rate-box-btn-table {
    font-family: 'PTSans';
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    display: block;
    border: 1px solid #3c3c3c;
    width: 72px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.rate-box-right-data-num {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: normal;
    margin-top: 15px;
}

.rate-box-right-data-name {
    font-size: 14px;
    letter-spacing: normal;
    margin-top: 15px;
}

.rate-box-right-data-quad {
    width: 34px;
    height: 34px;
}

.rate-box-left {
    display: inline-block;
    vertical-align: top;
    width: 275px;
    margin-left: 40px;
    margin-top: 20px;
}

.rate-box-right {
    display: inline-block;
    vertical-align: top;
    width: 575px;
    position: relative;
    margin-top: 20px;
}

.rate-box-right-data {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    margin-right: 0px;
    letter-spacing: -0.3em;
    margin-top: 20px;
}

.rate-box-right-plate {
    display: block;
    position: relative;
    width: 576px;
    height: 390px;
    margin-top: 25px;
}
.rate-box-right-plate-lay{
    position: absolute;
    left: 0;
    right: 0;
    width: 576px;
    height: 390px;
}
#lay1{background-image: url(../images/lay1.png);}
#lay2{background-image: url(../images/lay2.png);}
#lay3{background-image: url(../images/lay3.png);}
#lay4{background-image: url(../images/lay4.png);}
#lay5{background-image: url(../images/lay5.png);}
#lay6{background-image: url(../images/lay6.png);display:none;}
#lay7{background-image: url(../images/lay7.png);display:none;}
#lay8{background-image: url(../images/lay8.png);display:none;}
#lay9{background-image: url(../images/lay9.png);display:none;}
#lay10{background-image: url(../images/lay10.png);display:none;}
#lay11{background-image: url(../images/lay11.png);display:none;}
#lay12{background-image: url(../images/lay12.png);display:none;}
#lay13{background-image: url(../images/lay13.png);display:none;}
#lay14{background-image: url(../images/lay14.png);display:none;}
#lay15{background-image: url(../images/lay15.png);display:none;}
#lay16{background-image: url(../images/lay16.png);display:none;}
#lay17{background-image: url(../images/lay17.png);display:none;}
#lay18{background-image: url(../images/lay18.png);display:none;}
.rate-box-right-info {
    margin-left: 395px;
    font-weight: bold;
    margin-bottom: 5px;
}
.rate-box-right-info-first{
    padding-top: 18px;
}
.rate-box-right-info span{
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 2px;
}

.rate-box-right-rate {
    display: block;
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
}
.rate-box-right-rate span{
    display: block;
    font-size: 50px;
    font-weight: bold;
}

.rate-box-scroll-box {
    letter-spacing: -0.3em;
    max-height: 20px;
    cursor: pointer;
}


.rate-box-scroll-box span:not(:nth-child(1)){
    overflow: hidden;
    width: 0px;
    display: inline-block;
}
.rate-box-scroll-box span:nth-child(1){
    width: 264px;
    text-align: left;
    padding-left: 15px;
}
.rate-box-scroll-box span:nth-child(8){
    width: 30px;
}
.rate-box-scroll-box span{
    width: 90px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    text-align: center;
/*
    -webkit-transition: .5s;
	-moz-transition: .5s; 
*/
    letter-spacing: normal;
}

.rate-box-scroll-box:hover{
    background-color: #f5c33c;
}
.rate-box-scroll-box:nth-child(even) span:nth-child(1){
    background-color: #fff;
}
.rate-box-scroll-box:nth-child(odd),.rate-box-scroll-box:nth-child(odd) span:nth-child(1){
    background-color: #ededed;
}
.rate-box-scroll-box:nth-child(odd):hover,.rate-box-scroll-box:nth-child(odd):hover span:nth-child(1),.rate-box-scroll-box:nth-child(even):hover span:nth-child(1){
    background-color: #f5c33c;
}
.ps-scrollbar-y-rail{
    background-color: #9d9d9d !important;
    right: 0 !important;
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
    opacity: 0.6 !important;
}
.ps-scrollbar-y{
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
    background-color: #3c3c3c !important;
}

.rate-box-scroll-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#container-table {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.rate-box-right-thead {
    position: absolute;
    width: 575px;
    height: 55px;
    display: none;
    top: 0;
    left: 0;
    background-color: #fff;
}

.sort-col {
    display: block;
    width: 90px;
    text-align: center;
    font-size: 13px;
    height: 60px;
    position: absolute;
    top: 0;
    cursor: pointer;
}


table {
    border-collapse:collapse;
    border-spacing:0;
}

#sort-col1 {
    left: 0;
}
#sort-col2 {
    left: 90px;
}
#sort-col3 {
    left: 180px;
}
#sort-col4 {
    left: 270px;
}
#sort-col5 {
    left: 360px;
}
#sort-col6 {
    left: 450px;
}

.rate-box-btn-back {
    display: block;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 540px;
    background-color: #f5c33c;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
}