body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	user-select: none;
	margin: 0;
	
}
 
#display{	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
	overflow: hidden;
}




#logo_top {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 230px;
  height: 190px;
    opacity: 0;
}




#logo_bottom {
  background-image: url("../images/global/logo_bottom.png");
  position: absolute;
  left: 30px;
  top: 1266px;
  width: 412px;
  height: 254px;
  
}
#key_message{
  background-image: url("../images/global/key_message.png");
  position: absolute;
  left: 308px;
  top: 158px;
  width: 1458px;
  height: 424px;
    display: none;

}



#bg {
  background-image: url("../images/global/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}


#button_info {
  background-image: url("../images/global/info.png");
  position: absolute;
  left: 0px;
  top: 1088px;
  width: 134px;
  height: 112px;
    -webkit-transform: translate(-134px,0px);
	-moz-transform: translate(-134px,0px);
}

#id_share {
  background-image: url("../images/global/id_share.png");
  position: absolute;
  left: 31px;
  top: 1512px;
  width: 248px;
  height: 14px;
}



#modal{
    display: none;
    position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
    background-color: rgba(10, 0, 60, 0.79);
    
}
#km{
    display: none;
    position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
    background-color: rgba(40, 2, 29, 0.43);
}




#teva{
    position: absolute;
	top: 0px;
	right: 0px;
	width: 220px;
	height: 190px;
}

#touchMe{
    position: absolute;
    width: 2048px;
    height: 190px;
}

