/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/





#content{display: none;}

#diuver_vrachi_7_key{
	position: absolute;
	left:1705px;
	top:50px;
	width:343px;
	height:200px;
}
#diuver_vrachi_7_title {
	background-image: url(../images/title.png);
	position: absolute;
	left: 540px;
	top: 83px;
	width: 946px;
	height: 142px;
	opacity: 0;
}

#diuver_vrachi_7_drug {
	background-image: url(../images/diuver_vrachi_7_drug.png);
	position: absolute;
	left: 1723px;
	top: 788px;
	width: 178px;
	height: 177px;
	opacity: 0;
}

#diuver_vrachi_7_woman {
	background-image: url(../images/woman_step_1.png);
	position: absolute;
	left: 1766px;
  top: 375px;
  width: 104px;
  height: 260px;
	opacity: 0;
}


#diuver_vrachi_7_woman2 {
	background-image: url(../images/woman_step_2.png);
	position: absolute;
	left: 1762px;
  top: 376px;
  width: 89px;
  height: 258px;
	opacity: 0;
}


#diuver_vrachi_7_woman3 {
	background-image: url(../images/woman_step_3.png);
	position: absolute;
	left: 1771px;
  top: 376px;
  width: 85px;
  height: 260px;
	opacity: 0;
}


#diuver_vrachi_7_woman_circle {
	background-image: url(../images/diuver_vrachi_7_woman_circle.png);
	position: absolute;
	left: 1670px;
	top: 359px;
	width: 279px;
	height: 279px;
	opacity: 0;
}

#diuver_vrachi_7_drug_circle {
	background-image: url(../images/diuver_vrachi_7_drug_circle.png);
	position: absolute;
	left: 1670px;
	top: 730px;
	width: 279px;
	height: 279px;
	opacity: 0;
}

#diuver_vrachi_7_arrow {
	background-image: url(../images/diuver_vrachi_7_arrow.png);
	position: absolute;
	left: 1773px;
	top: 665px;
	width: 78px;
	height: 39px;
	opacity: 0;
	-webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
}

#diuver_vrachi_7_legend {
	background-image: url(../images/diuver_vrachi_7_legend.png);
	position: absolute;
	left: 1673px;
  top: 1083px;
  width: 302px;
  height: 68px;
	opacity: 0;
}


#diuver_vrachi_7_chart1value1 {
	background-image: url(../images/diuver_vrachi_7_chart1value1.png);
	position: absolute;
	left: 324px;
	top: 573px;
	width: 259px;
	height: 22px;
	opacity: 0;
}

#diuver_vrachi_7_chart1value2 {
	background-image: url(../images/diuver_vrachi_7_chart1value2.png);
	position: absolute;
	left: 318px;
	top: 743px;
	width: 254px;
	height: 23px;
	opacity: 0;
}

#diuver_vrachi_7_left_ph_bar {
	background-image: url(../images/diuver_vrachi_7_left_ph_bar.png);
	position: absolute;
	left: 299px;
	top: 471px;
	width: 484px;
	height: 250px;
	opacity: 0;
}

#diuver_vrachi_7_left_blue_bar {
	background-image: url(../images/diuver_vrachi_7_left_blue_bar.png);
	position: absolute;
	left: 299px;
	top: 642px;
	width: 484px;
	height: 222px;
	opacity: 0;
}

#diuver_vrachi_7_char1body {
	background-image: url(../images/diuver_vrachi_7_char1body.png);
	position: absolute;
	left: 171px;
	top: 357px;
	width: 658px;
	height: 665px;
	opacity: 0;
}

#diuver_vrachi_7_right_ph_bar {
	background-image: url(../images/diuver_vrachi_7_right_ph_bar.png);
	position: absolute;
	left: 1075px;
	top: 459px;
	width: 481px;
	height: 296px;
	opacity: 0;
}

#diuver_vrachi_7_right_blue_bar {
	background-image: url(../images/diuver_vrachi_7_right_blue_bar.png);
	position: absolute;
	left: 1075px;
	top: 593px;
	width: 481px;
	height: 269px;
	opacity: 0;
}

#diuver_vrachi_7_char2value1 {
	background-image: url(../images/diuver_vrachi_7_char2value1.png);
	position: absolute;
	left: 1091px;
	top: 571px;
	width: 247px;
	height: 22px;
	opacity: 0;
}

#diuver_vrachi_7_char2value2 {
	background-image: url(../images/diuver_vrachi_7_char2value2.png);
	position: absolute;
	left: 1100px;
	top: 695px;
	width: 245px;
	height: 22px;
	opacity: 0;
}

#diuver_vrachi_7_char2body {
	background-image: url(../images/diuver_vrachi_7_char2body.png);
	position: absolute;
	left: 946px;
	top: 357px;
	width: 660px;
	height: 665px;
	opacity: 0;
}

#diuver_vrachi_7_vivody_btn {
	background-image: url(../images/diuver_vrachi_7_vivody_btn.png);
	position: absolute;
	left: 822px;
	top: 1074px;
	width: 593px;
	height: 133px;
	opacity: 0;
}

#diuver_vrachi_7_design_btn {
	background-image: url(../images/diuver_vrachi_7_design_btn.png);
	position: absolute;
	left: 822px;
	top: 1242px;
	width: 593px;
	height: 133px;
	opacity: 0;
}

#diuver_vrachi_7_vivody {
	background-image: url(../images/diuver_vrachi_7_vivody.png);
	position: absolute;
	left: 604px;
	top: 1074px;
	width: 1018px;
	height: 168px;
	opacity: 0;
}

#diuver_vrachi_7_design {
	background-image: url(../images/diuver_vrachi_7_design.png);
	position: absolute;
	left: 604px;
	top: 1246px;
	width: 1022px;
	height: 200px;
	opacity: 0;
}

#diuver_vrachi_7_references {
	background-image: url(../images/diuver_vrachi_7_references.png);
	position: absolute;
	left: 604px;
	top: 1464px;
	width: 843px;
	height: 28px;
	opacity: 0;
}