/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/

#content{display: none;}



#backup_but {background-image: url("../images/backup_but.png");position: absolute;left: 1936px;top: 1434px;width: 74px;height: 61px;opacity: 0;}
#backup_menu{position: absolute;bottom: 0px;left: 0px;width: 2048px;height: 360px;background-color: rgba(0, 0, 0, 0.4);letter-spacing: -0.3em;-webkit-transform: translate(0px,360px);-moz-transform: translate(0px,360px);}
#backup_menu_wrap{position: absolute;bottom: 0px;left: 0px;width: 6144px;height: 360px;}
#backup_menu_back{position: absolute;top: 0px;left: 0px;width: 2048px;height: 1536px;display: none;}
.backup_menu_box{width: 2048px;height: 300px;display: inline-block;text-align: center;margin-top: 30px;}
#menu_left{background-image: url("../images/menu/menu_arrow.png");background-position: center;background-repeat: no-repeat;position: absolute;width: 128px;height: 360px;position: absolute;left: 0px;bottom: 0px;}
#menu_right{background-image: url("../images/menu/menu_arrow.png");background-position: center;background-repeat: no-repeat;position: absolute;width: 128px;height: 360px;position: absolute;right: 0px;bottom: 0px;-webkit-transform: scale(-1,1);-moz-transform: scale(-1,1);}
.menu{width: 400px;height: 300px;display: inline-block;margin: 0px 20px;}

#menu1{background-image: url("../images/menu/menu1.jpg")}
#menu2{background-image: url("../images/menu/menu2.jpg")}
#menu3{background-image: url("../images/menu/menu3.jpg")}
#menu4{background-image: url("../images/menu/menu4.jpg")}
#menu5{background-image: url("../images/menu/menu5.jpg")}
#menu6{background-image: url("../images/menu/menu6.jpg")}
#menu7{background-image: url("../images/menu/menu7.jpg")}
#menu8{background-image: url("../images/menu/menu8.jpg")}
#menu9{background-image: url("../images/menu/menu9.jpg")}
#menu10{background-image: url("../images/menu/menu10.jpg")}
#menu11{background-image: url("../images/menu/menu11.jpg")}
#menu12{background-image: url("../images/menu/menu12.jpg")}
/************************************/



#learning {
  background-image: url("../images/learning.png");
  position: absolute;
  left: 191px;
  top: 200px;
  width: 1594px;
  height: 1121px;
}
#title {
  background-image: url("../images/title.png");
  position: absolute;
  left: 572px;
  top: 217px;
  width: 842px;
  height: 132px;
  opacity: 0;
}
#giri {
  background-image: url("../images/giri.png");
  position: absolute;
  left: 491px;
  top: 854px;
  width: 299px;
  height: 206px;
    opacity: 0;
    -webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}
#pack_but {
  background-image: url("../images/pack_but.png");
  position: absolute;
  left: 1462px;
  top: 303px;
  width: 304px;
  height: 201px;
  opacity: 0;
}
#pack {
  background-image: url("../images/pack.png");
  position: absolute;
    left: 1435px;
  top: 323px;
/*
  left: 1197px;
  top: 898px;
*/
  width: 354px;
  height: 156px;
  opacity: 0;
    -webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
}
#left {
  background-image: url("../images/left.png");
  position: absolute;
  left: 437px;
  top: 568px;
  width: 390px;
  height: 547px;
/*  opacity: 0;*/
}
#right {
  background-image: url("../images/right.png");
  position: absolute;
  left: 1192px;
  top: 504px;
  width: 390px;
  height: 547px;
/*  opacity: 0;*/
}
#centr {
  background-image: url("../images/centr.png");
  position: absolute;
  left: 778px;
  top: 366px;
  width: 462px;
  height: 1029px;
/*  opacity: 0;*/
}
#balance {
  background-image: url("../images/balance.png");
  position: absolute;
  left: 639px;
  top: 513px;
  width: 740px;
  height: 80px;
/*  opacity: 0;*/
    -webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
#point {
  background-image: url("../images/point.png");
  background-position: center;
    background-repeat: no-repeat;
    position: absolute;
  left: 1908px;
  top: 1089px;
  width: 81px;
  height: 81px;
  opacity: 0;
    -webkit-transform: translate(218px,0px);
	-moz-transform: translate(218px,0px);
}
#scale {
  background-image: url("../images/scale.jpg");
  position: absolute;
  left: 1830px;
  top: 191px;
  width: 218px;
  height: 1345px;
  opacity: 0;
    -webkit-transform: translate(218px,0px);
	-moz-transform: translate(218px,0px);
}
#shadow {
  background-image: url("../images/shadow.png");
  position: absolute;
  left: 346px;
  top: 1303px;
  width: 1323px;
  height: 172px;
}

.ui-slider .ui-slider-handle{
    background-image: url("../images/point.png");
  background-position: center;
    background-repeat: no-repeat;
        position: absolute;
    z-index: 2;
     width: 81px;
  height: 81px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    outline: none;
}

#slider {
    position: absolute;
  left: 1908px;
  top: 591px;
  width: 81px;
  height: 579px;
    opacity: 0;
    -webkit-transform: translate(218px,0px);
	-moz-transform: translate(218px,0px);
}
