/*
    opacity: 0;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);

    -webkit-transform: scale(0);
    -moz-transform: scale(0);

    -webkit-transition: .5s;
    -moz-transition: .5s;
    
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
*/

@font-face{
	font-family:"BlockBE";
	src:url("fonts/blockbe.ttf");
}
#teva {
    -webkit-transform: translate(-200px, 0px);
    -moz-transform: translate(-200px, 0px);
}
#logo{
    -webkit-transform: translate(0px, 220px);
    -moz-transform: translate(0px, 220px);
}


#scale {
  background-image: url("../images/scale.png");
  position: absolute;
  left: 322px;
  top: 754px;
  width: 1403px;
  height: 24px;
  z-index: 3;

}
#blue {
/*  background-image: url("../images/blue.png");*/
  position: absolute;
  left: 325px;
  top: 754px;
  width: 1397px;
  height: 24px;
  
}
.ui-slider{
    border-radius: 8px;
/*        overflow: hidden;*/
}
.ui-slider-range{
    background-color: #59c4f0;
/*
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
*/
    border-radius: 8px;
}

.ui-slider .ui-slider-handle{
    width: 293px!important;
  height: 261px!important;
    top: -261px!important;
    margin-left: -122px!important;
    background-image: url("../images/mark.png");
    outline: none!important;
    font-family:"BlockBE";
    color: #fff;
    text-align: center;
        font-size: 120px;
    padding-right: 54px;
    padding-top: 50px;
    box-sizing: border-box;
    
}
.ui-slider-handle.active, .ui-slider-range.active{
    transition: all ease-in-out 0.5s;
}
#mark {
/*
  background-image: url("../images/mark.png");
  position: absolute;
  left: 902px;
  top: 493px;
  width: 293px;
  height: 261px;
*/
    
  
}
#line {
  background-image: url("../images/line.png");
  position: absolute;
  left: 271px;
  top: 754px;
  width: 1525px;
  height: 24px;
  
}


#btn_link_active {
  background-image: url("../images/btn_link_active.png");
  position: absolute;
  left: 285px;
  top: 1462px;
  width: 127px;
  height: 30px;
  
}
#cloud {
  background-image: url("../images/cloud.png");
  position: absolute;
  left: 230px;
  top: 1208px;
  width: 1029px;
  height: 231px;
  
}
#cloud_btn1 {
  background-image: url("../images/cloud_btn1.png");
  position: absolute;
  left: 603px;
  top: 1104px;
  width: 646px;
  height: 38px;
  
}
#cloud_btn2 {
  background-image: url("../images/cloud_btn2.png");
  position: absolute;
  left: 603px;
  top: 1184px;
  width: 635px;
  height: 38px;
  
}
#cloud_btn3 {
  background-image: url("../images/cloud_btn3.png");
  position: absolute;
  left: 603px;
  top: 1264px;
  width: 376px;
  height: 38px;
  
}
#cloud_btn4 {
  background-image: url("../images/cloud_btn4.png");
  position: absolute;
  left: 603px;
  top: 1344px;
  width: 295px;
  height: 38px;
  
}
#cloud_btns {
  background-image: url("../images/cloud_btns.png");
  position: absolute;
  left: 571px;
  top: 1080px;
  width: 702px;
  height: 359px;
  
}
#btn_info_active {
  background-image: url("../images/btn_info_active.png");
  position: absolute;
  left: 667px;
  top: 1453px;
  width: 48px;
  height: 48px;
  
}
#teva {
  background-image: url("../images/teva.png");
  position: absolute;
  left: 0px;
  top: 40px;
  width: 169px;
  height: 170px;
  
}
#menu_icon {
  background-image: url("../images/menu_icon.png");
  position: absolute;
  left: 1960px;
  top: 29px;
  width: 44px;
  height: 34px;
  
}
#title {
  background-image: url("../images/title.png");
  position: absolute;
  left: 325px;
  top: 172px;
  width: 1397px;
  height: 130px;
  
}
#text {
  background-image: url("../images/text.png");
  position: absolute;
  left: 331px;
  top: 364px;
  width: 1379px;
  height: 100px;
  
}
#right {
  background-image: url("../images/right.png");
  position: absolute;
  left: 1661px;
  top: 1034px;
  width: 56px;
  height: 91px;
  display: none;
}
#left {
  background-image: url("../images/left.png");
  position: absolute;
  left: 152px;
  top: 1034px;
  width: 56px;
  height: 91px;
  display: none;
}
#text2 {
  background-image: url("../images/text2.png");
  position: absolute;
  left: 324px;
  top: 960px;
  width: 1525px;
  height: 284px;
  display: none;
}
#text1 {
  background-image: url("../images/text1.png");
  position: absolute;
  left: 325px;
  top: 958px;
  width: 1209px;
  height: 297px;
  display: none;
}

#mark span{
   font-family: "BlockBE";
    color: #fff;
    text-align: center;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 0;
    width: 240px;
    height: 240px;
    display: block;
    font-size: 160px;
}
#polygon {
  background-image: url("../images/polygon.png");
  position: absolute;
  left: 0px;
  top: 788px;
  width: 2074px;
  height: 747px;
  -webkit-transform: translate(0px, 747px);
    -moz-transform: translate(0px, 747px);
}
#btn {
  background-image: url("../images/btn.png");
  position: absolute;
  left: 744px;
  top: 930px;
  width: 550px;
  height: 136px;
  display: none;
}
#id_share {
  background-image: url("../images/id_share.png");
  position: absolute;
  left: 2006px;
  top: 1099px;
  width: 17px;
  height: 238px;
  
}
#logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1536px;
  top: 1318px;
  width: 472px;
  height: 218px;
  
}
#btn_link {
  background-image: url("../images/btn_link.png");
  position: absolute;
  left: 285px;
  top: 1462px;
  width: 127px;
  height: 30px;
  
}
#btn_instruc {
  background-image: url("../images/btn_instruc.png");
  position: absolute;
  left: 71px;
  top: 1462px;
  width: 71px;
  height: 30px;
  
}
#btn_info {
  background-image: url("../images/btn_info.png");
  position: absolute;
  left: 667px;
  top: 1453px;
  width: 48px;
  height: 48px;
  
}
#bar {
  background-image: url("../images/bar.png");
  position: absolute;
  left: -1px;
  top: 1437px;
  width: 2050px;
  height: 99px;
  
}
