body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	maring: 0;
}

#display{	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2048px;
	height: 1536px;
	overflow: hidden;
}
#pan{
	position: absolute;
	top: 0px;
	left: 0px;
}

#contentLock{
	position: absolute;
	left:0px;
	top:0px;
	width: 2048px;
	height: 1536px;
	background-color: #000000;
	opacity:0;
	visibility: hidden;
}

#menuPanel{
	position: absolute;
	top: 1216px;
	left: 0px;
	width: 2048px;
	height: 320px;
	overflow: hidden;
	visibility: hidden;
}
#veevaLikeMenu{
	position: absolute;	 
	width: 2048px;
	height: 320px;
	background-color: #000000;	
}

#contentPanelPane{
	position: absolute;
	top: 10px;
}


#logo_teva {
    position: absolute;
    width: 176px;
    height: 176px;
    left: 1872px;
    top: 38px;
    background: url(../images/logo_teva.png) center no-repeat;
}

#product_id_shared_vis_ {
    position: absolute;
    left: 2012px;
    top: 303px;
    width: 17px;
    height: 317px;
    background: url(../images/product_id_shared_vis_.png)
}
