/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/





#vicks_10_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_10_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_10_bg {
  background-image: url("../images/vicks_10/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}
/***************************************************/





#vicks_10_answer {
  background-image: url("../images/vicks_10/answer.png");
  position: absolute;
  left: 98px;
  top: 526px;
  width: 852px;
  height: 47px;
  display: none;
}
#vicks_10_change_val1_a {
  background-image: url("../images/vicks_10/change_val1_a.png");
  position: absolute;
  left: 98px;
  top: 831px;
  width: 254px;
  height: 99px;
  display: none;
}
#vicks_10_change_val2_a {
  background-image: url("../images/vicks_10/change_val2_a.png");
  position: absolute;
  left: 568px;
  top: 831px;
  width: 215px;
  height: 88px;
  display: none;
}
#vicks_10_btn1_a {
  background-image: url("../images/vicks_10/btn1_a.png");
  position: absolute;
  left: 100px;
  top: 944px;
  width: 382px;
  height: 119px;
  display: none;
}
#vicks_10_btn2_a {
  background-image: url("../images/vicks_10/btn2_a.png");
  position: absolute;
  left: 566px;
  top: 944px;
  width: 324px;
  height: 116px;
  display: none;
}
#vicks_10_btn3_a {
  background-image: url("../images/vicks_10/btn3_a.png");
  position: absolute;
  left: 99px;
  top: 1119px;
  width: 324px;
  height: 116px;
  display: none;
}
#vicks_10_btn4_a {
  background-image: url("../images/vicks_10/btn4_a.png");
  position: absolute;
  left: 566px;
  top: 1119px;
  width: 378px;
  height: 116px;
  display: none;
}
#vicks_10_text1 {
  background-image: url("../images/vicks_10/text1.png");
  position: absolute;
  left: 100px;
  top: 1415px;
  width: 906px;
  height: 17px;
  display: none;
}
#vicks_10_text2 {
  background-image: url("../images/vicks_10/text2.png");
  position: absolute;
  left: 100px;
  top: 1435px;
  width: 866px;
  height: 36px;
  display: none;
}
#vicks_10_title {
  background-image: url("../images/vicks_10/title.png");
  position: absolute;
  left: 99px;
  top: 54px;
  width: 433px;
  height: 38px;
  opacity: 0;
}
#vicks_10_question_sub {
  background-image: url("../images/vicks_10/question_sub.png");
  position: absolute;
  left: 98px;
  top: 189px;
  width: 849px;
  height: 48px;
  opacity: 0;
}
#vicks_10_question {
  background-image: url("../images/vicks_10/question.png");
  position: absolute;
  left: 100px;
  top: 271px;
  width: 655px;
  height: 121px;
  opacity: 0;
}
#vicks_10_change {
  background-image: url("../images/vicks_10/change.png");
  position: absolute;
  left: 98px;
  top: 523px;
  width: 849px;
  height: 50px;
  opacity: 0;
}
#vicks_10_change_val1 {
  background-image: url("../images/vicks_10/change_val1.png");
  position: absolute;
  left: 102px;
  top: 831px;
  width: 416px;
  height: 47px;
  opacity: 0;
}
#vicks_10_change_pic1 {
  background-image: url("../images/vicks_10/change_pic1.png");
  position: absolute;
  left: 233px;
  top: 631px;
  width: 51px;
  height: 168px;
  opacity: 0;
}
#vicks_10_change_val2 {
  background-image: url("../images/vicks_10/change_val2.png");
  position: absolute;
  left: 568px;
  top: 830px;
  width: 386px;
  height: 48px;
  opacity: 0;
}
#vicks_10_change_pic2 {
  background-image: url("../images/vicks_10/change_pic2.png");
  position: absolute;
  left: 691px;
  top: 630px;
  width: 86px;
  height: 169px;
  opacity: 0;
}
#vicks_10_btn4 {
  background-image: url("../images/vicks_10/btn4.png");
  position: absolute;
  left: 565px;
  top: 1118px;
  width: 324px;
  height: 117px;
  opacity: 0;
}
#vicks_10_btn3 {
  background-image: url("../images/vicks_10/btn3.png");
  position: absolute;
  left: 98px;
  top: 1118px;
  width: 323px;
  height: 117px;
  opacity: 0;
}
#vicks_10_btn2 {
  background-image: url("../images/vicks_10/btn2.png");
  position: absolute;
  left: 565px;
  top: 943px;
  width: 324px;
  height: 116px;
  opacity: 0;
}
#vicks_10_btn1 {
  background-image: url("../images/vicks_10/btn1.png");
  position: absolute;
  left: 98px;
  top: 943px;
  width: 324px;
  height: 119px;
  opacity: 0;
}

