/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/





#vicks_04_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_04_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_04_bg {
  background-image: url("../images/vicks_04/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}
/***************************************************/




#vicks_04_btn1_active {
  background-image: url("../images/vicks_04/btn1_active.png");
  position: absolute;
  left: 440px;
  top: 869px;
  width: 41px;
  height: 31px;
  opacity: 0;
}
#vicks_04_answer {
  background-image: url("../images/vicks_04/answer.png");
  position: absolute;
  left: 99px;
  top: 1002px;
  width: 797px;
  height: 226px;
  opacity: 0;
}
#vicks_04_text {
  background-image: url("../images/vicks_04/text.png");
  position: absolute;
  left: 104px;
  top: 1390px;
  width: 1790px;
  height: 54px;
  opacity: 0;
}
#vicks_04_title {
  background-image: url("../images/vicks_04/title.png");
  position: absolute;
  left: 99px;
  top: 54px;
  width: 1144px;
  height: 38px;
  opacity: 0;
}
#vicks_04_question_sub {
  background-image: url("../images/vicks_04/question_sub.png");
  position: absolute;
  left: 98px;
  top: 190px;
  width: 849px;
  height: 47px;
  opacity: 0;
}
#vicks_04_question {
  background-image: url("../images/vicks_04/question.png");
  position: absolute;
  left: 100px;
  top: 271px;
  width: 789px;
  height: 339px;
  opacity: 0;
}
#vicks_04_change {
  background-image: url("../images/vicks_04/change.png");
  position: absolute;
  left: 98px;
  top: 735px;
  width: 849px;
  height: 50px;
  opacity: 0;
}
#vicks_04_btn1 {
  background-image: url("../images/vicks_04/btn1.png");
  position: absolute;
  left: 98px;
  top: 828px;
  width: 323px;
  height: 116px;
  opacity: 0;
}
#vicks_04_btn2 {
  background-image: url("../images/vicks_04/btn2.png");
  position: absolute;
  left: 565px;
  top: 828px;
  width: 324px;
  height: 116px;
  opacity: 0;
}

