/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/





#vicks_02_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_02_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_02_bg {
  background-image: url("../images/vicks_02/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}
/***************************************************/


#vicks_02_title {
  background-image: url("../images/vicks_02/title.png");
  position: absolute;
  left: 100px;
  top: 54px;
  width: 1556px;
  height: 38px;
  opacity: 0;
}
#vicks_02_point2_1 {
  background-image: url("../images/vicks_02/point2_1.png");
  position: absolute;
  left: 247px;
  top: 1102px;
  width: 243px;
  height: 249px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_02_point2_2 {
  background-image: url("../images/vicks_02/point2_2.png");
  position: absolute;
  left: 350px;
  top: 862px;
  width: 289px;
  height: 296px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_02_sub {
  background-image: url("../images/vicks_02/sub.png");
  position: absolute;
  left: 642px;
  top: 447px;
  width: 783px;
  height: 310px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_point4 {
  background-image: url("../images/vicks_02/point4.png");
  position: absolute;
  left: 1742px;
  top: 451px;
  width: 284px;
  height: 277px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_02_pic4 {
  background-image: url("../images/vicks_02/pic4.png");
  position: absolute;
  left: 1543px;
  top: 297px;
  width: 363px;
  height: 364px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_sub4 {
  background-image: url("../images/vicks_02/sub4.png");
  position: absolute;
  left: 1111px;
  top: 172px;
  width: 536px;
  height: 116px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_pic2 {
  background-image: url("../images/vicks_02/pic2.png");
  position: absolute;
  left: 52px;
  top: 958px;
  width: 283px;
  height: 285px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_sub2 {
  background-image: url("../images/vicks_02/sub2.png");
  position: absolute;
  left: 131px;
  top: 784px;
  width: 325px;
  height: 116px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_sub3 {
  background-image: url("../images/vicks_02/sub3.png");
  position: absolute;
  left: 1545px;
  top: 784px;
  width: 324px;
  height: 117px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_li1 {
  background-image: url("../images/vicks_02/li1.png");
  position: absolute;
  left: 204px;
  top: 346px;
  width: 380px;
  height: 137px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_li2 {
  background-image: url("../images/vicks_02/li2.png");
  position: absolute;
  left: 206px;
  top: 515px;
  width: 278px;
  height: 17px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_li3 {
  background-image: url("../images/vicks_02/li3.png");
  position: absolute;
  left: 204px;
  top: 590px;
  width: 264px;
  height: 105px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_pic3 {
  background-image: url("../images/vicks_02/pic3.png");
  position: absolute;
  left: 1509px;
  top: 924px;
  width: 405px;
  height: 407px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_pic1 {
  background-image: url("../images/vicks_02/pic1.png");
  position: absolute;
  left: 52px;
  top: 331px;
  width: 283px;
  height: 285px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_sub1 {
  background-image: url("../images/vicks_02/sub1.png");
  position: absolute;
  left: 96px;
  top: 172px;
  width: 568px;
  height: 116px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_02_sm1 {
  background-image: url("../images/vicks_02/sm1.png");
  opacity: 0.502;
  position: absolute;
  left: 1011px;
  top: 615px;
  width: 220px;
  height: 310px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_sm2 {
  background-image: url("../images/vicks_02/sm2.png");
  opacity: 0.502;
  position: absolute;
  left: 959px;
  top: 553px;
  width: 200px;
  height: 279px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_sm3 {
  background-image: url("../images/vicks_02/sm3.png");
  opacity: 0.502;
  position: absolute;
  left: 907px;
  top: 498px;
  width: 179px;
  height: 252px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_pack {
  background-image: url("../images/vicks_02/pack.png");
  position: absolute;
  left: 686px;
  top: 793px;
  width: 600px;
  height: 594px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_02_sh1 {
  background-image: url("../images/vicks_02/sh1.png");
  position: absolute;
  left: 1007px;
  top: 615px;
  width: 243px;
  height: 331px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_sh2 {
  background-image: url("../images/vicks_02/sh2.png");
  position: absolute;
  left: 956px;
  top: 553px;
  width: 222px;
  height: 299px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_sh3 {
  background-image: url("../images/vicks_02/sh3.png");
  position: absolute;
  left: 903px;
  top: 498px;
  width: 203px;
  height: 271px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_02_text {
  background-image: url("../images/vicks_02/text.png");
  position: absolute;
  left: 98px;
  top: 1395px;
  width: 1820px;
  height: 76px;
  opacity: 0;
}
