/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/






#vicks_20_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_20_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_20_pack_text {
  background-image: url("../images/pack_text.png");
  position: absolute;
  left: 1598px;
  top: 1318px;
  width: 311px;
  height: 172px;
  opacity: 0;
}

#vicks_20_sm1 {
  background-image: url("../images/sm1.png");
  position: absolute;
  left: 1765px;
  top: 696px;
  width: 205px;
  height: 273px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_20_sm2 {
  background-image: url("../images/sm2.png");
  position: absolute;
  left: 1724px;
  top: 646px;
  width: 189px;
  height: 248px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_20_sm3 {
  background-image: url("../images/sm3.png");
  position: absolute;
  left: 1682px;
  top: 603px;
  width: 173px;
  height: 225px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_20_pack {
  background-image: url("../images/pack.png");
  position: absolute;
  left: 1510px;
  top: 837px;
  width: 480px;
  height: 699px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}

#vicks_20_bg {
  background-image: url("../images/vicks_20/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}

/*****************************************************/






#vicks_20_title {
  background-image: url("../images/vicks_20/title.png");
  position: absolute;
  left: 98px;
  top: 54px;
  width: 1122px;
  height: 34px;
  opacity: 0;
}
#vicks_20_sub {
  background-image: url("../images/vicks_20/sub.png");
  position: absolute;
  left: 99px;
  top: 215px;
  width: 1721px;
  height: 255px;
  opacity: 0;
}
#vicks_20_li1 {
  background-image: url("../images/vicks_20/li1.png");
  position: absolute;
  left: 824px;
  top: 514px;
  width: 720px;
  height: 146px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_20_li2 {
  background-image: url("../images/vicks_20/li2.png");
  position: absolute;
  left: 824px;
  top: 681px;
  width: 561px;
  height: 95px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_20_li3 {
  background-image: url("../images/vicks_20/li3.png");
  position: absolute;
  left: 824px;
  top: 809px;
  width: 573px;
  height: 145px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_20_point {
  background-image: url("../images/vicks_20/point.png");
  position: absolute;
  left: 549px;
  top: 956px;
  width: 414px;
  height: 404px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_20_old_pack {
  background-image: url("../images/vicks_20/old_pack.png");
  position: absolute;
  left: 98px;
  top: 490px;
  width: 644px;
  height: 857px;
  opacity: 0;
    -webkit-transform: translate(-200px,0px);
	-moz-transform: translate(-200px,0px);
}
#vicks_20_text {
  background-image: url("../images/vicks_20/text.png");
  position: absolute;
  left: 99px;
  top: 1430px;
  width: 586px;
  height: 23px;
  opacity: 0;
}

