/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/






#vicks_23_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_23_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_23_pack_text {
  background-image: url("../images/pack_text.png");
  position: absolute;
  left: 1598px;
  top: 1318px;
  width: 311px;
  height: 172px;
  opacity: 0;
}

#vicks_23_sm1 {
  background-image: url("../images/sm1.png");
  position: absolute;
  left: 1765px;
  top: 696px;
  width: 205px;
  height: 273px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_23_sm2 {
  background-image: url("../images/sm2.png");
  position: absolute;
  left: 1724px;
  top: 646px;
  width: 189px;
  height: 248px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_23_sm3 {
  background-image: url("../images/sm3.png");
  position: absolute;
  left: 1682px;
  top: 603px;
  width: 173px;
  height: 225px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_23_pack {
  background-image: url("../images/pack.png");
  position: absolute;
  left: 1510px;
  top: 837px;
  width: 480px;
  height: 699px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}

#vicks_23_bg {
  background-image: url("../images/bg2.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}

/*****************************************************/




#vicks_23_sub {
  background-image: url("../images/vicks_23/sub.png");
  position: absolute;
  left: 102px;
  top: 215px;
  width: 1750px;
  height: 253px;
  opacity: 0;
}
#vicks_23_col1 {
  background-image: url("../images/vicks_23/col1.png");
  position: absolute;
  left: 98px;
  top: 532px;
  width: 430px;
  height: 494px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_23_col2 {
  background-image: url("../images/vicks_23/col2.png");
  position: absolute;
  left: 567px;
  top: 533px;
  width: 442px;
  height: 493px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_23_col3 {
  background-image: url("../images/vicks_23/col3.png");
  position: absolute;
  left: 1036px;
  top: 532px;
  width: 442px;
  height: 332px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_23_big_logo {
  background-image: url("../images/vicks_23/big_logo.png");
  position: absolute;
  left: 0px;
  top: 1172px;
  width: 547px;
  height: 117px;
  opacity: 0;
    -webkit-transform: translate(-547px,0px);
	-moz-transform: translate(-547px,0px);
}
#vicks_23_contacts {
  background-image: url("../images/vicks_23/contacts.png");
  position: absolute;
  left: 98px;
  top: 1313px;
  width: 668px;
  height: 146px;
  opacity: 0;
}





