/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/






#vicks_21_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_21_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_21_pack_text {
  background-image: url("../images/pack_text.png");
  position: absolute;
  left: 1598px;
  top: 1318px;
  width: 311px;
  height: 172px;
  opacity: 0;
}

#vicks_21_sm1 {
  background-image: url("../images/sm1.png");
  position: absolute;
  left: 1765px;
  top: 696px;
  width: 205px;
  height: 273px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_21_sm2 {
  background-image: url("../images/sm2.png");
  position: absolute;
  left: 1724px;
  top: 646px;
  width: 189px;
  height: 248px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_21_sm3 {
  background-image: url("../images/sm3.png");
  position: absolute;
  left: 1682px;
  top: 603px;
  width: 173px;
  height: 225px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_21_pack {
  background-image: url("../images/pack.png");
  position: absolute;
  left: 1510px;
  top: 837px;
  width: 480px;
  height: 699px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}

#vicks_21_bg {
  background-image: url("../images/vicks_21/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}

/*****************************************************/




#vicks_21_title {
  background-image: url("../images/vicks_21/title.png");
  position: absolute;
  left: 98px;
  top: 54px;
  width: 1122px;
  height: 34px;
  opacity: 0;
}
#vicks_21_sub {
  background-image: url("../images/vicks_21/sub.png");
  position: absolute;
  left: 104px;
  top: 214px;
  width: 1196px;
  height: 164px;
  opacity: 0;
}
#vicks_21_li1 {
  background-image: url("../images/vicks_21/li1.png");
  position: absolute;
  left: 98px;
  top: 397px;
  width: 1337px;
  height: 68px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_21_li2 {
  background-image: url("../images/vicks_21/li2.png");
  position: absolute;
  left: 98px;
  top: 497px;
  width: 1327px;
  height: 105px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_21_text {
  background-image: url("../images/vicks_21/text.png");
  position: absolute;
  left: 99px;
  top: 1398px;
  width: 1330px;
  height: 54px;
  opacity: 0;
}




