/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/






#vicks_22_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_22_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_22_bg {
  background-image: url("../images/vicks_22/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}
/***************************************************/



#vicks_22_sm1 {
  background-image: url("../images/vicks_22/sm1.png");
  opacity: 0.502;
  position: absolute;
  left: 328px;
  top: 849px;
  width: 154px;
  height: 217px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_22_sm2 {
  background-image: url("../images/vicks_22/sm2.png");
  opacity: 0.502;
  position: absolute;
  left: 292px;
  top: 805px;
  width: 140px;
  height: 196px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_22_sm3 {
  background-image: url("../images/vicks_22/sm3.png");
  opacity: 0.502;
  position: absolute;
  left: 255px;
  top: 767px;
  width: 126px;
  height: 177px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_22_pack {
  background-image: url("../images/vicks_22/pack.png");
  position: absolute;
  left: 97px;
  top: 974px;
  width: 424px;
  height: 426px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}
#vicks_22_text2 {
  background-image: url("../images/vicks_22/text2.png");
  position: absolute;
  left: 565px;
  top: 1220px;
  width: 1091px;
  height: 99px;
  opacity: 0;
}
#vicks_22_text3 {
  background-image: url("../images/vicks_22/text3.png");
  position: absolute;
  left: 1718px;
  top: 1213px;
  width: 288px;
  height: 110px;
  opacity: 0;
}
/*********************************************/


#vicks_22_title {
  background-image: url("../images/vicks_22/title.png");
  position: absolute;
  left: 100px;
  top: 56px;
  width: 1122px;
  height: 32px;
  opacity: 0;
}
#vicks_22_li1 {
  background-image: url("../images/vicks_22/li1.png");
  position: absolute;
  left: 102px;
  top: 205px;
  width: 790px;
  height: 80px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_22_li2 {
  background-image: url("../images/vicks_22/li2.png");
  position: absolute;
  left: 101px;
  top: 323px;
  width: 455px;
  height: 40px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_22_li3 {
  background-image: url("../images/vicks_22/li3.png");
  position: absolute;
  left: 100px;
  top: 401px;
  width: 425px;
  height: 40px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_22_li4 {
  background-image: url("../images/vicks_22/li4.png");
  position: absolute;
  left: 101px;
  top: 483px;
  width: 923px;
  height: 229px;
  opacity: 0;
    -webkit-transform: translate(100px,0px);
	-moz-transform: translate(100px,0px);
}
#vicks_22_point {
  background-image: url("../images/vicks_22/point.png");
  position: absolute;
  left: 1358px;
  top: 409px;
  width: 353px;
  height: 352px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_22_text {
  background-image: url("../images/vicks_22/text.png");
  position: absolute;
  left: 98px;
  top: 1394px;
  width: 1847px;
  height: 74px;
  opacity: 0;
}

