/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/






#vicks_18_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_18_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_18_bg {
  background-image: url("../images/vicks_18/bg.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}
/***************************************************/


#vicks_18_title {
  background-image: url("../images/vicks_18/title.png");
  position: absolute;
  left: 102px;
  top: 56px;
  width: 402px;
  height: 36px;
  opacity: 0;
}
#vicks_18_li4 {
  background-image: url("../images/vicks_18/li4.png");
  position: absolute;
  left: 101px;
  top: 597px;
  width: 809px;
  height: 75px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_18_li3 {
  background-image: url("../images/vicks_18/li3.png");
  position: absolute;
  left: 104px;
  top: 404px;
  width: 531px;
  height: 160px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_18_li2 {
  background-image: url("../images/vicks_18/li2.png");
  position: absolute;
  left: 102px;
  top: 322px;
  width: 477px;
  height: 40px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_18_li1 {
  background-image: url("../images/vicks_18/li1.png");
  position: absolute;
  left: 102px;
  top: 204px;
  width: 790px;
  height: 80px;
  opacity: 0;
    -webkit-transform: translate(200px,0px);
	-moz-transform: translate(200px,0px);
}
#vicks_18_text1 {
  background-image: url("../images/vicks_18/text1.png");
  position: absolute;
  left: 1692px;
  top: 358px;
  width: 314px;
  height: 196px;
  opacity: 0;
}
#vicks_18_shadow {
  background-image: url("../images/vicks_18/shadow.png");
  position: absolute;
  left: 1286px;
  top: 216px;
  width: 410px;
  height: 831px;
  opacity: 0;
}
#vicks_18_sm1 {
  background-image: url("../images/vicks_18/sm1.png");
  opacity: 0.502;
  position: absolute;
  left: 328px;
  top: 849px;
  width: 154px;
  height: 217px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_18_sm2 {
  background-image: url("../images/vicks_18/sm2.png");
  opacity: 0.502;
  position: absolute;
  left: 292px;
  top: 805px;
  width: 140px;
  height: 196px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_18_sm3 {
  background-image: url("../images/vicks_18/sm3.png");
  opacity: 0.502;
  position: absolute;
  left: 255px;
  top: 767px;
  width: 126px;
  height: 177px;
  opacity: 0;
    -webkit-transform: translate(0px,-100px);
	-moz-transform: translate(0px,-100px);
}
#vicks_18_pack {
  background-image: url("../images/vicks_18/pack.png");
  position: absolute;
  left: 97px;
  top: 974px;
  width: 424px;
  height: 426px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}
#vicks_18_text2 {
  background-image: url("../images/vicks_18/text2.png");
  position: absolute;
  left: 565px;
  top: 1220px;
  width: 1091px;
  height: 99px;
  opacity: 0;
}
#vicks_18_text3 {
  background-image: url("../images/vicks_18/text3.png");
  position: absolute;
  left: 1718px;
  top: 1213px;
  width: 288px;
  height: 110px;
  opacity: 0;
}
#vicks_18_text {
  background-image: url("../images/vicks_18/text.png");
  position: absolute;
  left: 98px;
  top: 1394px;
  width: 1847px;
  height: 74px;
  opacity: 0;
}
