/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/




#vicks_12_logo {
  background-image: url("../images/logo.png");
  position: absolute;
  left: 1857px;
  top: 27px;
  width: 84px;
  height: 81px;
  opacity: 0;
}
#vicks_12_logo_blink {
  background-image: url("../images/logo_blink.png");
  position: absolute;
  left: 1828px;
  top: -3px;
  width: 141px;
  height: 140px;
  opacity: 0;
    -webkit-transition: .5s;
	-moz-transition: .5s; 
}

#vicks_12_pack_text {
  background-image: url("../images/pack_text.png");
  position: absolute;
  left: 1598px;
  top: 1318px;
  width: 311px;
  height: 172px;
  opacity: 0;
}

#vicks_12_sm1 {
  background-image: url("../images/sm1.png");
  position: absolute;
  left: 1765px;
  top: 696px;
  width: 205px;
  height: 273px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_12_sm2 {
  background-image: url("../images/sm2.png");
  position: absolute;
  left: 1724px;
  top: 646px;
  width: 189px;
  height: 248px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_12_sm3 {
  background-image: url("../images/sm3.png");
  position: absolute;
  left: 1682px;
  top: 603px;
  width: 173px;
  height: 225px;
  opacity: 0;
    -webkit-transform: translate(0px,100px);
	-moz-transform: translate(0px,100px);
}
#vicks_12_pack {
  background-image: url("../images/pack.png");
  position: absolute;
  left: 1510px;
  top: 837px;
  width: 480px;
  height: 699px;
  opacity: 0;
    -webkit-transform: translate(0px,200px);
	-moz-transform: translate(0px,200px);
}

#vicks_12_bg {
  background-image: url("../images/bg2.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2048px;
  height: 1536px;
}

/*****************************************************/





#vicks_12_title {
  background-image: url("../images/vicks_12/title.png");
  position: absolute;
  left: 96px;
  top: 55px;
  width: 432px;
  height: 36px;
  opacity: 0;
}
#vicks_12_text2 {
  background-image: url("../images/vicks_12/text2.png");
  position: absolute;
  left: 890px;
  top: 342px;
  width: 763px;
  height: 204px;
  opacity: 0;
}
#vicks_12_text1 {
  background-image: url("../images/vicks_12/text1.png");
  position: absolute;
  left: 99px;
  top: 342px;
  width: 693px;
  height: 203px;
  opacity: 0;
}
#vicks_12_sub2 {
  background-image: url("../images/vicks_12/sub2.png");
  position: absolute;
  left: 893px;
  top: 213px;
  width: 283px;
  height: 38px;
  opacity: 0;
}
#vicks_12_sub1 {
  background-image: url("../images/vicks_12/sub1.png");
  position: absolute;
  left: 101px;
  top: 213px;
  width: 696px;
  height: 111px;
  opacity: 0;
}
#vicks_12_val2 {
  background-image: url("../images/vicks_12/val2.png");
  position: absolute;
  left: 1192px;
  top: 1098px;
  width: 94px;
  height: 92px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_line2 {
  background-image: url("../images/vicks_12/line2.png");
  position: absolute;
  left: 1010px;
  top: 674px;
  width: 0px;
  height: 479px;
  -webkit-transition: .5s;
	-moz-transition: .5s; 
}
#vicks_12_line1 {
  background-image: url("../images/vicks_12/line1.png");
  position: absolute;
  left: 1023px;
  top: 688px;
  width: 0px;
  height: 141px;
  -webkit-transition: .5s;
	-moz-transition: .5s; 
}
#vicks_12_line {
  background-image: url("../images/vicks_12/line.png");
  position: absolute;
  left: 1010px;
  top: 686px;
  width: 443px;
  height: 3px;
  opacity: 0;
    -webkit-transform: translate(0px,563px);
	-moz-transform: translate(0px,563px);
}
#vicks_12_graph2 {
  background-image: url("../images/vicks_12/graph2.png");
  position: absolute;
  left: 891px;
  top: 593px;
  width: 564px;
  height: 755px;
  opacity: 0;
}
#vicks_12_val1 {
  background-image: url("../images/vicks_12/val1.png");
  position: absolute;
  left: 1185px;
  top: 825px;
  width: 111px;
  height: 24px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_col {
  background-image: url("../images/vicks_12/col.png");
  position: absolute;
  left: 1131px;
  bottom: 286px;
  width: 294px;
  height: 0px;
  -webkit-transition: .5s;
	-moz-transition: .5s; 
    background-position: bottom left;
}


#vicks_12_graph1 {
  background-image: url("../images/vicks_12/graph1.png");
  position: absolute;
  left: 100px;
  top: 593px;
  width: 569px;
  height: 758px;
  opacity: 0;
}
#vicks_12_val2_1 {
  background-image: url("../images/vicks_12/val2_1.png");
  position: absolute;
  left: 460px;
  top: 608px;
  width: 112px;
  height: 25px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_val2_2 {
  background-image: url("../images/vicks_12/val2_2.png");
  position: absolute;
  left: 458px;
  top: 653px;
  width: 117px;
  height: 27px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_val1_2 {
  background-image: url("../images/vicks_12/val1_2.png");
  position: absolute;
  left: 329px;
  top: 934px;
  width: 101px;
  height: 27px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_val1_1 {
  background-image: url("../images/vicks_12/val1_1.png");
  position: absolute;
  left: 332px;
  top: 848px;
  width: 94px;
  height: 91px;
  -webkit-transform: scale(0);
	-moz-transform: scale(0);
}
#vicks_12_col1 {
  background-image: url("../images/vicks_12/col1.png");
  position: absolute;
  left: 338px;
  bottom: 284px;
  width: 83px;
  height: 0px;
    background-position: bottom left;
  -webkit-transition: .5s;
	-moz-transition: .5s; 
}
#vicks_12_col2 {
  background-image: url("../images/vicks_12/col2.png");
  position: absolute;
  left: 475px;
  bottom: 284px;
  width: 82px;
  height: 0px;
    background-position: bottom left;
  -webkit-transition: .5s;
	-moz-transition: .5s; 
}
#vicks_12_text {
  background-image: url("../images/vicks_12/text.png");
  position: absolute;
  left: 99px;
  top: 1426px;
  width: 1354px;
  height: 55px;
  opacity: 0;
}
