/*
-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
-webkit-transform: scale(0);
	-moz-transform: scale(0);
-webkit-transition: .5s;
	-moz-transition: .5s; 
*/

#title {
  background-image: url("../images/title.png");
  position: absolute;
  left: 609px;
  top: 80px;
  width: 1034px;
  height: 139px;
    opacity: 0;
}



#content{display: none;}



#diuver_vrachi_2_body3 {
	background-image: url(../images/diuver_vrachi_2_body3.png);
	position: absolute;
	left: 980px;
	top: 320px;
	width: 343px;
	height: 857px;
	opacity: 0;
	-webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
}

#diuver_vrachi_2_body2 {
	background-image: url(../images/diuver_vrachi_2_body2.png);
	position: absolute;
	left: 980px;
	top: 323px;
	width: 293px;
	height: 853px;
	opacity: 0;
	-webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
}

#diuver_vrachi_2_body1 {
	background-image: url(../images/diuver_vrachi_2_body1.png);
	position: absolute;
	left: 1013px;
	top: 324px;
	width: 280px;
	height: 857px;
	opacity: 0;
	-webkit-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
}

#diuver_vrachi_2_scroller1 {
	background-image: url(../images/diuver_vrachi_2_scroller1.png);
	position: absolute;
	left: 695px;
	top: 1004px;
	width: 46px;
	height: 137px;
	opacity: 0;
	
}

#diuver_vrachi_2_scroller2 {
	background-image: url(../images/diuver_vrachi_2_scroller2.png);
	position: absolute;
	left: 765px;
	top: 1164px;
	width: 137px;
	height: 46px;
	opacity: 0;
}

#diuver_vrachi_2_chart {
	background-image: url(../images/diuver_vrachi_2_chart.png);
	position: absolute;
	left: 622px;
	top: 323px;
	width: 964px;
	height: 944px;
	opacity: 0;
}

#plate1 {
  background-image: url("../images/plate1.png");
  position: absolute;
  left: 1420px;
  top: 380px;
  width: 507px;
  height: 363px;
  display: none;
}

#plate2 {
  background-image: url("../images/plate2.png");
  position: absolute;
  left: 1420px;
  top: 380px;
  width: 507px;
  height: 363px;
  opacity: 0;
    display: none;
}

#text {
  background-image: url("../images/text.png");
  position: absolute;
  left: 584px;
  top: 1406px;
  width: 1201px;
  height: 27px;
  opacity: 0;
}


